/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Side bar Colors =====*/
  --first-color: #2C3531;
  /*=====Icon  Colors =====*/
  --first-color-light: #E85A4F;
  /*===== Header  Colors =====*/
  --white-color: #EAE7DC;

  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  font-weight:bold;
  font-size: 18px;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 2.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}
/*Menu icon*/
.bx-menu{
  color: #464E4B;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 7px;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 0rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 0rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 0rem 0 calc(var(--nav-width) + 0rem);
  }

  .l-navbar{
    left: 0;
    padding: 20rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 175px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 175px);
  }
}



section {
  position: inherit;

  text-transform: uppercase;
}
section#resume {
  background-color: #464E4B;
    height: 105vh;
    color: #ffff;
}
section#about {
  background-color: #EAE7DC;
    height: 90vh;
}
section#skills {
  background-color: #8E8D8A;
    height: 55vh;
}

section#contact {
  background-color: #D8C3A5;
    height: 40vh;
}
html{
  scroll-behavior:smooth;
}

/* headings */
.aboutText {
  font-style: italic;
  color: #464E4B;
  font-family: monospace;
  position:relative;
  font-size: 70px;
  font-weight: bold;
  left: 15%;
  top: 30%;
  width: 1225px;
  text-align: center;
}
.headings{
  color: white;
  font-family: monospace;
  font-size: 70px;
  font-weight: bold;
  margin-left: 30px;
}
/* education section contents */
.educationTable{
  padding-left: 90px;
  margin-top: 20px;
  margin-right: 20px;
}
.bx-book-content{
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 40px;
  grid-template-columns: max-content max-content;
}
.degreeName{
  font-size: 23px;
}
.degreeYear{
  font-size: 15px;
}
/* work expirience section contents */
.bx-briefcase-alt-2{
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 90px;
  margin-left: 40px;
  grid-template-columns: max-content max-content;
}

.job{
  margin-top: 20px;
  margin-left: 70px;
}

.jobName{
  font-size: 30px;
}

.jDesciption li{
 font-size:20px;
}

/* Skills */

.skillsList li{
 font-size:20px;
 margin-left: 30px;
}
.column{
  margin-top: 30px;
  margin-left: 100px;
}

.skillCategoryName{
 font-size: 30px;
 font-weight: bold;
}

.getInTouch{
 font-size: 30px;
 font-weight: bold;
 margin-left: 180px;
 margin-top: 50px;
}
.contact-me{
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  margin-left: 195px;
  padding: -50;
  margin-top: 10px;

}
