/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Side bar Colors =====*/
  --first-color: #050d18;
  /*=====Icon  Colors =====*/
  --first-color-light: #00AAA8;
  /*===== Header  Colors =====*/
  --white-color: #006769;

  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  font-weight:bold;
  font-size: 18px;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 2.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: #ffffff;
}

.nav__icon{
  font-size: 1.25rem;
}
/*Menu icon*/
.bx-menu{
  color: #ffffff;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 7px;
  font-weight: bold;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: #ffffff;
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 0rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 0rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 0rem 0 calc(var(--nav-width) + 0rem);
  }

  .l-navbar{
    left: 0;
    padding: 20rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 175px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 175px);
  }
}



section {

}
section#resume {
  background-color: #FFFEFB;
    height: 115vh;
    color: #050d18;
}
section#about {
  background-color: #006769;
    height: 90vh;

}
section#skills {
  background-color: #f5f8fd;
    height: 55vh;
}

section#contact {
  background-color: #FFFEFB;
    height: 35vh;
}
html{
  scroll-behavior:smooth;
}

/* headings */
.line-1{
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    position:relative;
    font-size: 115px;

    top: 38%;
    text-align: center;
}

.line-2{
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    position:relative;
    font-size: 70px;
    font-weight: light;
    top: 36%;
    text-align: center;
}


.line-1::after {
  content: '';
  display: block;
  width: 63%;
  height: 5px;
  margin-top: 10px;
  background: #ffffff;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 18.5%;

}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.headings{
  margin-left: 40px;
  margin-top: 20px;
}
.headings h2{
  color: #205296;
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.headings h2::after {
  content: '';
  display: block;
  width: 70px;
  height: 5px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.cvDownload{
  font-size: 23px;
  font-weight: normal;
  padding-left: 100px;
  margin-top: 10px;
}

.button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  background-color: #FFFEFB;
  color: #050d18;
  font-weight: bolder;
  font-style: italic;
  border: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {

  color: #050d18;
  font-weight: normal;
  border: 3px solid #149ddd;
}

/* education section contents */
.educationTable{
  padding-left: 130px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.resumeTitles{
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 100px;
  color: #205296;
  grid-template-columns: max-content max-content;
}

.degreeName{
  font-size: 20px;
  font-weight: normal;
}

.uniName{
  font-size: 26px;
  font-weight: bold;
}
.degreeYear{
  font-size: 19px;
  font-weight: bold;
  padding: 6px;
  font-style: italic;
}
/* work expirience section contents */

.job{
  margin-top: 20px;
  margin-left: 130px;
  margin-bottom: 30px;
}

.jobName{
  font-size: 26px;
  font-weight: bold;
}

.tPeriod{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  font-style: italic;
}
.jDesciption li{
 font-size:20px;
 font-weight: normal;
 color: #050d18;
}

/* Skills */

.skillsList li{
 font-size:20px;
 margin-left: 30px;
 color: #050d18;
}
.column{
  margin-top: 30px;
  margin-left: 100px;
}

.skillCategoryName{
 font-size: 30px;
 font-weight: bold;
 margin-bottom: 10px;
 color: #464E4B;
}

.getInTouch{
 font-size: 30px;
 font-weight: bold;
 margin-left: 180px;
 margin-top: 70px;
}
.contact-me{
  font-weight: bold;
  margin-left: 180px;
  margin-top: 5px;
}

.fa {
  padding: 17px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
    background: #fff;
    color: #E85A4F;
    transform: translateY(-10px);
    transition: 300ms all;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #fb3958;
  color: white;
}

.fa-envelope {
  background: #EEEEEE;
  color: #D44638;
}

.fa-envelope:hover {
    opacity: 1;
    background: #D44638;
    color: #EEEEEE;
    transform: translateY(-10px);
    transition: 300ms all;
}
