*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 300;
letter-spacing: 0.1rem;
}

body {
  background-color: #fff;
  width: 100%
}

html{
  scroll-behavior:smooth;
}

ul,li{
  list-style-type: none;
}

h1,h2,h3{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

a{
  text-decoration: none;
}

/*input[type="checkbox"]{
  width: 80px;
  height: 80px;
  position: fixed;
  left: 100px;
  top:100px;
  cursor: pointer;
  opacity: 0;
  z-index: 10000;
}
span.icon{
  width: 80px;
  height: 80px;
  position: fixed;
  left: 100px;
  top:100px;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  z-index: 10001;
  pointer-events: none;
}
span.icon::before {
  display: block;
  content: "menu";
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
}

input[type="checkbox"]:checked ~ span.icon::before {
  content: "close";
}
 navbar  */
ul{
  position: relative;
  background-color: #173e46;
  width:300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  position: fixed;
  /*left: -300px; */
  top: 0;
  transition: 300ms all;
}

ul li {
  display: block;
}

ul li a {
  display: block;
  margin-bottom: 40px;
  color: #fff;
  font-weight: bold;
  transition: 300ms all;
}
/* nav hover transition */
ul li a:hover{
  transform: translateX(10px);
}
/*
input[type="checkbox"]:checked ~ ul {
  left: 0;
}*/

section {
  position: inherit;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
}
section#developer {
  background-color:  crimson;
}
section#home {
  background-color: #3fb0ac;
}
section#graph {
  background-color:  darkslategrey;
}

section#contact {
  background-color:  crimson;
}

/* nav hover transition */

.headerText {
  font-style: italic;
  color: white;
  position:relative;


  font-size: 65px;
  font-weight: bold;
  top: 30%;
  width: 1225px;
  text-align: center;
}

.headeText {
  position:relative;
  left: 53%;
  transform: translate(-45%, -10%);
  font-size: 30px;
  font-weight: bold;
	width: 1225px;
}
